# Environnement virtuel
hackathon_venv/
venv/
.venv/
.env/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Fichiers VS Code
.vscode/

# Fichiers système Windows
Thumbs.db

# Fichier système macOS
.DS_Store

# Logs et fichiers temporaires
logs/
temp/
*.tmp
*.log

# Ne pas inclure les fichiers csv
*.csv